
/*Header*/

body {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

.navbar {
    background-color: #31424c;
}

.navbar-brand {
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

.navbar-version {
    font-size: 1rem;
}

/* Bootstrap Rows*/

.row-search {
    margin: 30px;
}

.row-login {
    margin: 30px;
}

.row-admin-1 {
    margin: 30px;
}

/*Forms*/

.form_elements {
    margin: 7px;
}

.read-only-input {
    background-color: #c9d6df;
    border: 0;
}

.register-form {
    margin-top: 85px;
}

/*Flashes*/

.flashes {
    list-style-type: none;
    color: white;
    text-align: center;
}

.flash-success {
    background-color: #1c7430;
    border: 1px solid white;
}

.flash-error {
    background-color: #ac0e14;
    border: 1px solid white;
}

/*Custom Buttons*/

.btn-delete-user {
    line-height: 1;
    font-size: 80%;
}

.btn-raid {
    background-color: #31424c;
    color: white;
}

.btn-raid:hover {
    background-color: #4b5860;
    color: white;
}

/*Tables*/

.table-users {
    height: 212px;
    overflow: auto;
}

thead tr:nth-child(1) th {
    background: #31424c;
    position: sticky;
    top: 0;
    z-index: 10;
}

.table-title {
    text-align: center;
    font-size: 2rem;
}

.table-inv-details {
    text-align: left;
}

.table-inv-details th {
    border-right: 1px solid #b9bbbe;
    text-align: right;
}