body {
    font-family: 'Ubuntu', sans-serif;
}

.navbar {
    background-color: #52616B;
}

.navbar-brand {
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

.row-search {
    margin: 30px;
}

.row-login {
    margin: 30px;
}

.row-results {
    text-align: center;
}

.row-admin-1 {
    margin: 30px;
}

.form {
    text-align: center;
}

.form_elements {
    margin: 7px;
}

.read-only-input {
    background-color: #c9d6df;
    border: 0;
}

.table td {
    text-align: center;
}

.table th {
    text-align: center;
}

.raid-log {
    text-align: center;
}

.flashes {
    list-style-type: none;
    color: white;
    text-align: center;
}

.flash-success {
    background-color: #1c7430;
    border: 1px solid white;
}

.flash-error {
    background-color: #ac0e14;
    border: 1px solid white;
}

.btn-delete-user {
    line-height: 1;
    font-size: 80%;
}
