
# URLs for RAID platform API controllers
[urls]
munki = /path/to/munki/repo
airwatch = https://airwatchapi.example
snipe = https://snipeapi.exmaple


# Web server secret key - DO NOT LEAVE DEFAULT
[web_server]
key = template_key
