{% import "bootstrap/wtf.html" as wtf %}
{% include "header.html" %}

<div class="container">
    <div class="row row-admin-1">
        <div class="col-lg-6">
            <table class="table table-hover">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Username</th>
                    <th scope="col">Role</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.username }}</td>
                        {% if user.role == 1 %}
                            <td>Admin</td>
                        {% elif user.role == 2 %}
                            <td>User</td>
                        {% endif %}
                        {% if current_user.id != user.id %}
                            <td><button href="{{ url_for('delete', userid=user.id) }}" class="btn btn-outline-danger btn-delete-user">X</button></td>
                        {% else %}
                            <td><button disabled href="{{ url_for('delete', userid=user.id) }}" class="btn btn-outline-danger btn-delete-user">X</button></td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
                </table>
        </div>
        <div class="col-lg-6">
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    <ul class=flashes>
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            <div class="register-form">
                <form method="post" class="form" role="form">
                    <div class="form-group">
                        {{ form.username.label }}
                        {{ form.username(class_="form_elements") }}
                    </div>
                    <div class="form-group">
                        {{ form.password.label }}
                        {{ form.password(class_="form_elements") }}
                    </div>
                    <div class="form-group">
                        {{ form.role.label }}
                        {{ form.role(class_="form_elements") }}
                    </div>
                    {{ form.register_submit(class_="form_elements btn btn-dark") }}
                </form>
            </div>
        </div>
    </div>
    <div class="row row-admin-2">
        <div class="col-lg-12">
            <table class="table table-hover">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">User</th>
                    <th scope="col">Name</th>
                    <th scope="col">Asset Tag</th>
                    <th scope="col">Serial Number</th>
                    <th scope="col">Building</th>
                    <th scope="col">Group</th>
                </tr>
                </thead>
                <tbody>
                {% for command in commands %}
                    <tr>
                        <th scope="row">{{ command.datetime}}</th>
                        <td>{{ command.submitter.username }}</td>
                        <td>{{ command.name }}</td>
                        <td>{{ command.asset_tag }}</td>
                        <td>{{ command.serial }}</td>
                        <td>{{ command.building }}</td>
                        <td>{{ command.group }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
        </div>
    </div>
</div>