{% import "bootstrap/wtf.html" as wtf %}
{% include "header.html" %}

<div class="container">
    <div class="row row-login">
        <div class="col-md-4 offset-md-4">
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    <ul class=flashes>
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            <div class="search_form">
                <form method="post" class="form" role="form">
                    <div class="form-group">
                        {{ search_form.type(class_="form_elements") }}
                    </div>
                    <div class="form-group">
                        {{ search_form.identifier(class_="form_elements", size=14) }}
                    </div>
                    {{ search_form.search_submit(class_="form_elements btn btn-raid") }}
                </form>
            </div>
        </div>
        {% if results %}
            <div class="col-md-4 offset-md-0">
                <table class="table table-inv-details table-borderless">
                    <tbody>
                        <tr>
                            <th scope="row">Model</th>
                            <td>{{ results['snipe'].dict['model']['name']|safe }}</td>
                        </tr>
                        {% if results['snipe'].dict['status_label']['status_meta'] == "deployed" %}
                            <tr>
                                <th scope="row">Status</th>
                                <td>{{ results['snipe'].dict['status_label']['status_meta'].title() }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Assigned</th>
                                <td>{{ results['snipe'].dict['assigned_to']['name'] }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <th scope="row">Status</th>
                                <td>{{ results['snipe'].dict['status_label']['name'].title() }}</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
    {% if results %}
    <div class="row row-results-tbl">
        <table class="table table-hover">
            <thead class="table-dark">
            <tr>
                <th scope="col"><button href="#editForm" class="btn btn-danger btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#editForm" aria-expanded="false" aria-controls="editForm">Edit</button></th>
                <th scope="col">Name</th>
                <th scope="col">Asset Tag</th>
                <th scope="col">Serial Number</th>
                <th scope="col">Org Unit</th>
            </tr>
            </thead>
            <tbody>
            {% for platform in results %}
                {% if results[platform] %}
                    <tr>
                    <th scope="row">{{ results[platform].platform }}</th>
                    {%  if results[platform].platform == "Munki" and results[platform].serial == "" %}
                        <td><a class="btn btn-sm btn-danger" type="button" href="{{ url_for('new_munki_manifest', serial=results['snipe'].serial, name=results['snipe'].name, org=results['airwatch'].org_unit) }}">Create Manifest</a></td>
                    {% else %}
                        <td>{{ results[platform].name }}</td>
                    {% endif %}
                    <td>{{ results[platform].asset_tag }}</td>
                    <td>{{ results[platform].serial }}</td>
                    {% if results[platform].org_unit is not string %}
                        <td>{{ ', '.join(results[platform].org_unit) }}</td>
                    {% else %}
                        <td>{{ results[platform].org_unit }}</td>
                    {% endif %}
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
            </table>
    </div>
    {% endif %}
    <div class="collapse" id="editForm">
        <div class="card card-body">
            <div class="row row-edit">
                <div class="edit_form">
                    <form method="post" action="{{ url_for('edit') }}" class="form" role="form">
                        <div class="form-group">
                            {{ edit_form.serial.label }}
                            {{ edit_form.serial(class_="form_elements read-only-input") }}
                        </div>
                        <div class="form-group">
                            {{ edit_form.asset_tag.label }}
                            {{ edit_form.asset_tag(class_="form_elements", size=16) }}
                        </div>
                        <div class="form-group">
                            {{ edit_form.name.label }}
                            {{ edit_form.name(class_="form_elements") }}
                        </div>
                        <div class="form-group">
                            {{ edit_form.building.label }}
                            {{ edit_form.building(class_="form_elements") }}
                        </div>
                        <div class="form-group">
                            {{ edit_form.group.label }}
                            {{ edit_form.group(class_="form_elements") }}
                        </div>
                        {{ edit_form.edit_submit(class_="form_elements btn btn-danger") }}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>